*{
    padding: 0;
    margin: 0;
}

body {
    width: 1440px;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%)
}

main{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    width: 30%;
    height: fit-content;
    box-sizing: border-box;
}

.icone{
    margin: 32px;
}

h2 {
    font-size: 28px;
    color: hsl(0, 0%, 100%);
    padding: 0 32px;
}

p{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin: 8px 32px;
}

.rating{
    display: flex;
    justify-content: space-evenly;
    margin: 32px 0;
}

.rating__button{
    width: 50px;
    height: 50px;
    border-radius: 60%;
    color: hsl(217, 12%, 63%);
    background-color: hsl(211, 20%, 16%);
    opacity: 0.5s;
    border: none;
    
    
}
.rating__button:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    
}

.rating__button:active{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    
}

.submit{
    background-color: hsl(25, 97%, 53%);
    border: none;
    width: 85%;
    height: 40px;
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    display: block;
    margin: 16px 32px;
    cursor: pointer;
}
.submit:hover{
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}
